
h1{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    color: #FF90BC;
    
}
h2{
    padding: 20px 0px;
    color: #FF90BC; 
}
img{
    width: 400px;
    height: 600px;
    margin-left: 70px;
    border-radius: 20px;
}

    .filter1{
        filter: opacity(50%);
        transition: 1s;
    }
    .filter2{
        filter:contrast(200%);
        transition: 1s;
    }
    .filter3{
        filter:grayscale(80%);
        transition: 1s;
    }
    .filter4{
        filter:brightness(150%);
        transition: 1s;
    }
    .filter5{
        filter: drop-shadow(8px 8px 10px gray);
        transition: 1s;
    }